# ============================================================================
#                         - SECRETS, KEYS, ETC -
# ----------------------------------------------------------------------------

# SECRETS - ENV FILES:
.env
.env.*

# KEYS - GENERAL:
*.pem

# =============================================================================
#              - SPECIFICATIONS, ENVIRONMENTS, & CONFIGS -
# -----------------------------------------------------------------------------

# SPECIFICATIONS - NATIVE RUNTIMES:
Pipfile
Pipfile.lock

# ENVIRONMENTS — LOCAL:
.venv/
env/
venv/

# CONFIGS - EDITOR/IDE:
.vscode/
.idea/
*.swp

# ============================================================================
#                        - ARTIFACTS, CACHES, ETC - 
# ----------------------------------------------------------------------------

# ARTIFACTS - PYTHON:
*.pyc
*.pyo
*.pyd
*.egg-info/
__pycache__/
**/__pycache__/
**/__pypackages__/
**/.ipynb_checkpoints/

# CACHES - OS:
.DS_Store

# ============================================================================
#                           - GENERAL FILES/DATA  -
# ----------------------------------------------------------------------------

# MEDIA DATA - IMAGES:
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG

# MEDIA DATA - VIDEO:
*.mp4
*.MP4

# STRUCTURED DATA - GENERAL:
*.pkl
*.hdf5
*.h5

# STRUCTURED DATA - TABULAR:
*.db
*.csv
*.xlsx
*.xls

# TEXT DATA - GENERAL:
*.txt
*.log

# DATASETS:
files/datasets/*

# WEIGHTS:
models/weights/OSNet_finetuned.pth.tar

# =============================================================================
#                           + WHITELISTED FILES +
# -----------------------------------------------------------------------------

# ENV FILES:
!*.env.public

# RUNTIME ENVIRONMENT DEPENDENCIES:
!runtime/docker/gpu/dependencies/installed-packages.txt
!runtime/docker/gpu/dependencies/requirements.txt
!runtime/docker/gpu/dependencies/dev-requirements.txt

!runtime/docker/cpu/dependencies/installed-packages.txt
!runtime/docker/cpu/dependencies/requirements.txt
!runtime/docker/cpu/dependencies/dev-requirements.txt

# STRUCTURED DATA:
!models/weights/**/*.h5

# DIRECTORIES:
!files/datasets/.gitkeep
