*.hdf5
*.db

*.pkl

*.mp4

*.png
*.jpeg
*.jpg

*.csv

*.txt

.DS_Store
.idea/
.vscode/
.env

scratch.py

# Ignore __pycache__ directories
**/__pycache__/

# Ignore specific files or directories
capture/utilities/Scan