*.csv
*.xlsx
*.xls
*.hdf5
*.db
*.pkl

*.mp4
*.png
*.jpeg
*.jpg
*.JPG
*.JPEG
*.PNG
*.MP4

scratch.py

.env
*.pem

.DS_Store
.idea/
.vscode/

**/__pycache__/
**/__pypackages__/
**/.ipynb_checkpoints/

*.egg-info/

Pipfile
Pipfile.lock
