[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch-cu121"

[packages]
requests = "*"
pillow = "*"
opencv-python = "*"
notebook = "*"
matplotlib = "*"
ipython = "*"
opencv-contrib-python = "*"
numpy = "*"
pandas = "*"
polars = "*"
scipy = "*"
shapely = "*"
deepface = {git = "https://github.com/serengil/deepface.git", ref = "master"}
boto3 = "*"
python-dotenv = "*"
ffmpeg-python = "*"
tqdm = "4.43.0"
easydict = "1.9"
pycocotools = "*"
torch = {version = "*", index = "pytorch-cu121"}
torchvision = {version = "*", index = "pytorch-cu121"}
torchreid = "*"
tensorflow = "==2.15.0"
keras = "==2.15.0"
speedtest-cli = "*"
openpyxl = "*"
facenet-pytorch = "*"
xlsxwriter = "*"
pycuda = "*"

[dev-packages]

[requires]
python_version = "3.10"
