[Unit]
Description=Ivakt Timemanager AI Processing
Wants=network-online.target
After=network-online.target

[Service]
User=ivakt1
Group=ivakt1
Type=simple
EnvironmentFile=/etc/default/ai-process
ExecStart=/bin/bash -c '/home/ivakt1/.local/share/virtualenvs/ai-processing-G17QV8he/bin/python3 /home/ivakt1/ai-processing/execution/main.py $EXTRA_ARGS'
KillMode=control-group
WorkingDirectory=/home/ivakt1/ai-processing/execution
Environment="PYTHONPATH=/home/ivakt1/.local/share/virtualenvs/ai-processing-G17QV8he/lib/python3.10/site-packages"
Environment="PATH=/home/ivakt1/.local/bin:/home/ivakt1/.local/share/virtualenvs/ai-processing-G17QV8he/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="LD_LIBRARY_PATH=/usr/local/cuda-12.8/lib64:/usr/local/cuda/extras/CUPTI/lib64:$LD_LIBRARY_PATH"
Environment="TMPDIR=/tmp"
Environment="PYTHONUNBUFFERED=1"
Environment=FORCE_COLOR=1
StandardOutput=journal
StandardError=journal
LimitFSIZE=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
