[Unit]
Description=OSNet Training/Fine-Tuning
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
EnvironmentFile=/etc/default/osnet-training
ExecStart=/bin/bash -c '/home/ubuntu/.local/share/virtualenvs/ai-processing-cIZ_oGug/bin/python3 /home/ubuntu/ai-processing/training/train_osnet.py $EXTRA_ARGS'
KillMode=control-group
WorkingDirectory=/home/ubuntu/ai-processing/training
Environment="PYTHONPATH=/home/ubuntu/.local/share/virtualenvs/ai-processing-cIZ_oGug/lib/python3.10/site-packages"
Environment="PATH=/usr/bin:/usr/local/bin:/bin:/usr/sbin:/sbin:/home/ubuntu/.local/bin:/home/ubuntu/.local/share/virtualenvs/ai-processing-cIZ_oGug/bin"
Environment="LD_LIBRARY_PATH=/usr/local/cuda-12.4/lib:/usr/local/cuda-12.4/lib64:/usr/local/cuda/extras/CUPTI/lib64:$LD_LIBRARY_PATH"
Environment="TMPDIR=/tmp"
Environment="PYTHONUNBUFFERED=1"
LimitFSIZE=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
