[Unit]
Description=RTSP Capture        
Wants=network-online.target
After=network-online.target

[Service]
User=ivaktvision
Group=ivaktvision
Type=simple
ExecStart=/home/ivaktvision/.local/share/virtualenvs/timemanager-xodDNVor/bin/python3 /home/ivaktvision/Documents/timemanager/capture/rtsp_capture.py
Restart=on-failure
WorkingDirectory=/home/ivaktvision/Documents/timemanager/capture
Environment="PATH=/usr/bin:/usr/local/bin:/bin:/usr/sbin:/sbin" "PYTHONUNBUFFERED=1"
PYTHONUNBUFFERED=1
LimitFSIZE=infinity
LimitCORE=infinity
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
