[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch-cu121"

# ----------------------------------------------------------------------------

[packages]

# =============================================================================
#                         - DEEP LEARNING FRAMEWORKS -
# -----------------------------------------------------------------------------

torch = {version = "*", index = "pytorch-cu121"}
onnx2torch = "*"
torch2trt = {git = "https://github.com/NVIDIA-AI-IOT/torch2trt.git", ref = "4e820ae31b4e35d59685935223b05b2e11d47b03"}

# =============================================================================
#                          - IMAGE/VIDEO PROCESSING -
# -----------------------------------------------------------------------------

opencv-contrib-python = "*"
pillow = "*"
torchvision = {version = "*", index = "pytorch-cu121"}
torchreid = "*"
facenet-pytorch = "*"

# =============================================================================
#                           - DATA MANIPULATION -
# -----------------------------------------------------------------------------

numpy = "*"
pandas = "*"
scipy = "*"
openpyxl = "*"
xlsxwriter = "*"
h5py = "*"
matplotlib = "*"
scikit-learn = "*"
statsmodels = "*"
lap = "*"

# =============================================================================
#                  - CONNECTIONS (NETWORKING, APIS, ETC) -
# -----------------------------------------------------------------------------

requests = "*"
boto3 = "*"
python-dotenv = "*"
psycopg2-binary = "*"

# =============================================================================
#                           - OTHER LIBRARIES -
# -----------------------------------------------------------------------------

shapely = "*"
tqdm = "4.43.0"
psutil = "*"
pympler = "*"
filterpy = "*"

# =============================================================================
[dev-packages]


[requires]
python_version = "3.10"
